*.dsp
*.dsw
*.ncb
*.opt
*.plg
*.sdf

*.dll

project1/.vs/Sample/v14/.suo

*.htm

*.obj

*.dep

*.log

*.suo

*.pdb

*.lastbuildstate

*.tlog

*.idb

*.h

*.lib

*.sln

*.user

*.filters

*.XML

*.vcproj
